<body>
<div class="divcontainer">
 <div class="divgauche">

    <h3 class="nom">André Demba Ndione</h3><br>
    <h4 class="roledunom">porteur de projet</h4>
</div>
<div class="droite">
    <img src="https://img.freepik.com/photos-gratuite/casual-jeune-homme-africain-souriant-isole-blanc_93675-128895.jpg?size=626&ext=jpg&ga=GA1.1.1069740416.1690285243&semt=ais" alt=""[height]=200 >
</div>
</div><br>
<div class="divcont2">
    <div class="divgauche2">
        <div class="card" style="width: 18rem; border: 2px ;">
            <img src="https://img.freepik.com/vecteurs-libre/concept-decoratif-formes-qui-se-chevauchent_23-2148649131.jpg?size=626&ext=jpg&ga=GA1.1.1069740416.1690285243&semt=ais" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="nom2">Mariama Diallo</h4><br>
              <p class="roleMariama">Bailleur</p>
            </div>
          </div>

    </div>
    
    	<!--Profile Card 3-->
        <div class="col-md-4">
            <div class="card profile-card-3">
                <div class="background-block">
                    <img src="https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" alt="profile-sample1" class="background"/>
                </div>
                <div class="profile-thumb-block">
                    <img src="https://img.freepik.com/photos-gratuite/fond-texture-abstrait_1258-30494.jpg?size=626&ext=jpg&ga=GA1.1.1069740416.1690285243&semt=ais" alt="profile-image" class="profile"/>
                </div>
                <div class="card-content">
                <h2>Mariama Diallo<small></small></h2><br>
                <p>Bailleur</p>
                </div>
            </div>
            <p class="mt-3 w-100 float-left text-center">Ce compte existe depuis 4 ans</p>
        </div>

    <div class="divdroite2">

    </div>
</div>
    
    
</body>
