/* General */

#espace-personnel {
    position: relative;
    top: 110px;
}
.title-1 {
    font-size: var(--title-1);
}

.blue-color {
    color: var(--blue-base);
}


/*  */


.profil-banner {
    border: 2px solid;
    padding: 0;
}

.profil-banner-left {
    gap: 90px;
    margin: 90px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-img {
    border: 4px solid var(--Orange-first);
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 370px;
    height: 370px;
}

.middle-cirle {
    border: 2px solid black;
    background-color: var(--blue-base);
    width: 346px;
    height: 346px;
    border-radius: 50%;
    position: relative;
    bottom: -8px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-cirle img {
    height: 346px;
}

.desc {
    width: max-content;
}

.desc h1 {
    color: var(--blue-base);
    font-weight: 900;
}

.desc {
    font-size: 20px;
}


/* Section details d'un projet */

.box-details {
    width: 70%;
    margin: auto;
}

.content-pro {
    margin: 20px;
}

.content-pro-left {
    background-color: var(--blue-base);
    padding: 20px 0;
}

.img-projet {
    margin-bottom: 10px;
    height: 140px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-projet img {
    width: 100%;
}

.underline {
    display: block;
    width: 38px;
    height: 4px;
    background-color: var(--Orange-first);
    margin-bottom: 6px;
}

.component-title-desc h6 {
    color: white;
    font-weight: var(--graisse-one);
}

.component-title-desc p {
    color: white;
}

.component-all {
    margin: 0 20px;
}

.component-btn {
    display: flex;
    justify-content: end;
}

.btn-all {
    background-color: white;
    color: var(--blue-base);
    border: 0 transparent;
}

.btn-all:hover {
    background-color: var(--Orange-first);
    color: white;
}

.box-projet {
    background-color: var(--blue-base);
    border-radius: 10px;
    color: white;
}

.b-p-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-projet i {
    color: var(--Orange-first);
    position: relative;
    top: -3px;
}

.global-des-porteur {
    display: flex;
    align-items: center;
}

.desc-porteur-projet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 30px;
    text-align: center;
}

.desc-porteur-projet h1 {
    color: var(--blue-base);

}

.desc-porteur-projet p {
    font-size: 1.2em;
}

.box-projet h6 {
    font-size: 14px;
}

.box-projet p {
    font-size: 12px;
    /* border: 2px solid; */
}

/* Liste des projets */

#projet {
}

.projet-slider {
    width: 80%;
}

.p-s-row {}

.img-slide img {
    width: 100%;
}

.icon-left img {
    width: 100%;
}
.p-h-left {
    cursor: pointer;
}
.souligne {
    display: grid;
    grid-template-columns: 80px;
    height: 4px;
    gap: 10px;
}

.souligne-projet {
    justify-content: center;
}

.s-1,
.s-2 {
    display: block;
    background-color: var(--Orange-first);
}

.p-h-left-para {
    margin: 30px 0;
}

.search-projet {
    width: 50%;
    margin-left: 50%;
    border-radius: 6px;
    padding: 4px 12px;
    border: 1px solid var(--blue-base);
    outline: 0px solid var(--blue-base);
}

.p-h {
    margin: 0 40px;
}

.projet-item {
}

.contenu-page {
    padding: 0 40px;
}

.projet-list {
    background-color: white;
    box-shadow: 0 0 2px var(--blue-base);
    padding: 20px 0;
    border-radius: 4px;
    margin: 20px 0;
}

.icon-image {
    width: 70%;
    height: 140px;
    background-color: var(--blue-base);
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
}

@media screen and (max-width: 567px) {
    .icon-image {
        display: none;
    }
}

.titre-projet {}

.titre-projet h4 {
    font-weight: 500;
}

.desc-projet {
    font-size: 0.9em;
}

.another-infos {
    flex-wrap: wrap;
}

.another-infos div:first-child {
    color: var(--blue-base);
}

.another-infos div:last-child {
    color: var(--Orange-first);
}

.middle-projet {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-btn {
    display: flex;
    flex-flow: wrap;
    justify-content: end;
    margin-top: -20px;
    gap: 100px;
    height: min-content;
    min-width: 210px;
}
.content-btn .row {
    display: flex;
    gap: 3px;
}
@media screen and (max-width: 767px) {
    .content-btn {
        justify-content: end;
        margin-top: 30px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .content-btn {
        position: relative;
        justify-content: start;
        top: -30px;
    }
}

.content-btn button {
    background-color: var(--blue-base);
    color: white;
    padding: 3px 6px;
    /* width: 100%; */
    font-size: 0.8em;
    border: 2px solid var(--blue-base);
    box-shadow: 0 0 2px var(--blue-base);
}

.content-btn .row .cta-porteur:nth-child(3) button {
    background-color: var(--Orange-first);
    border-color: var(--Orange-first);
}
.content-btn .row .cta-porteur:nth-child(2) button {
    background-color: var(--orange-second);
    border-color: var(--orange-second);
}
.content-btn .row .cta-porteur:nth-child(1) button {
    background-color: var(--blue-second);
    border-color: var(--blue-second);
    border-bottom-left-radius: 20px;
}
.content-btn div {
    padding: 0;
}

/* La pagination */

.pagination {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.pagination-box {
    width: 200px;
}

.pagination .col:nth-child(2) {}

/*  */

.create-projet {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 70%;
    padding: 0 50px;
}

@media (min-width: 576px) {
    .create-projet {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .create-projet {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .create-projet {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .create-projet {
        max-width: 1140px;
    }
}

.card-columns .card {
    margin-bottom: 0.75rem;
    background-color: var(--blue-base);
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 3;
        column-gap: 1.25rem;
    }

    .card-columns .card {
        display: inline-block;
        width: 100%;
    }
}
.next-step {
    gap: 50%;
}
.add-projet {
    /* border: 2px solid black; */
    width: 70%;
    margin: 0 auto;
    position: relative;
    padding: 0 40px;
}
.add-projet-child {
    border: 2px solid black;
}
.add-projet-child .container{
    border: 2px solid black;
    position: relative;
    top: -118px;
}
.add-projet-child .container .desc-step {
    margin: 0px !important;
}
.img-login-one {
}
.img-login {
    overflow: hidden;
    width: 100%;
}
.img-login img {
    width: 100%;
}
.all-form {
    height: 400px !important;
}
.text-muted {
    color: #ffffff !important;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.right-step {
    display: flex;
    flex-direction: column;
}
.bouton {
    display: flex;
    justify-content: space-between;
    position: relative;
    /* border: 2px solid black; */
    top: 140px;                                                     
}
.back-next {
    background-color: white !important;
    color: var(--blue-base);
}
.mb-3 {
    margin-bottom: 1rem !important;
}

.input-group {
    position: relative;
    display: flex;
    width: 100%;
}
.title-step {
    color: white;
}
.box-add {
    height: 360px;
    border-radius: 20px;
    box-shadow: 0 0 4px var(--blue-base);
}
.img-add-box {
    height: 360px;
    /* overflow-y: visible !important; */
}
.img-add-box img {
    width: 100%;
    position: relative;
}
.step-box {
    background-color: var(--blue-base);
    color: white;
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
}
.cta-next-back {
    position: absolute;
    width: calc(94% - 40px);
    top: 300px;
}
/* .cnb {
    display: flex;
    justify-content: space-between;
} */
.cta-next-back .btn{
    background-color: black;
    color: white;
    border: 0;
    width: 76px;
    box-sizing: border-box;
    font-size: 0.7em;
}
.navbar-nav li {
    cursor: pointer;
    margin-right: 0 8px;
}
.navbar-nav li a {
    color: var(--blue-base);
}
#navbarNavDropdown-nav li a:first-child {
    font-weight: 700;
}
#navbarNavDropdown .nav-item {
    display: flex;
    align-items: center;
}
#navbarNavDropdown .navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.circle-step {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--Orange-first);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}