<app-header></app-header>
<br><br>
<section class="mesprojets">
  <div class="titre1">
    <i class="fa-solid fa-diamond"></i>
  </div>
  <div>

  </div>
  <div class="titre2">
    <h3>Les projets</h3>
  </div>

  <div class="seeMore">
    <a href="">Voir plus</a>
  </div>

  <div class="mesCartes">
    <div class="card">
      <div class="image">
        <img src="../../../../assets/projet1.jpg" alt="">
      </div>
      <span class="title">Kay entreprendre</span>
      <div class="price">
        <a href="">Détails</a>
      </div>
    </div>
    <!-- ------------- -->
    <div class="card">
      <div class="image">
        <img src="../../../../assets/projet2.jpg" alt="">
      </div>
      <span class="title">Sama santé</span>
      <div class="price">
        <a href="">Détails</a>
      </div>
    </div>
    <!------------------ -->
    <div class="card">
      <div class="image">
        <img src="../../../../assets/projet3.jpg" alt="">
      </div>
      <span class="title">Nioune</span>
      <div class="price">
        <a href="">Détails</a>
      </div>
    </div>
  </div>

  <!-- :::::::::::: -->
  <div class="mesCartes">
    <div class="card">
      <div class="image">
        <img src="../../../../assets/projet5 (1).jpg" alt="">
      </div>
      <span class="title">*********</span>
      <div class="price">
        <a href="">Détails</a>
      </div>
    </div>
    <!-- ------------- -->
    <div class="card">
      <div class="image">
        <img src="../../../../assets/projet5.jpg" alt="">
      </div>
      <span class="title">*********</span>
      <div class="price">
        <a href="">Détails</a>
      </div>
    </div>
    <!------------------ -->
    <div class="card">
      <div class="image">
        <img src="../../../../assets/projet1.jpg" alt="">
      </div>
      <span class="title">**********</span>
      <div class="price">
        <a href="">Détails</a>
      </div>
    </div>
  </div>
  <!-- ::::::::::::: -->
</section>


<section class="how-does-it-work">
  &nbsp;<br>
  <div class="titre1">
    <i class="fa-solid fa-diamond"></i>
  </div>
  <div>
  </div>
  <div class="titre2">
    <h3>Comment ça marche ?</h3>
  </div>
  <div class="marche-tof">
    <img src="../../../../assets/marche.png" alt="">
  </div>
  <div class="info">
  <p>Laisser nous vous guider pas à pas sur les differentes parties de la <br> création de votre compte.</p>
  <div class="btn">
    <button>Découvrir</button>
  </div>
  <br>
  </div>
</section>


<section class="blog">
  <div class="titre1">
    <i class="fa-solid fa-diamond"></i>
  </div>
  <div>

  </div>
  <div class="titre2">
    <h3>Articles blogs</h3>
  </div>

  <div class="cardBlog">
    <div class="cardz">
      <div class="image"><img src="../../../../assets/blog1.jpg" alt=""></div>
      <div class="content">
          <h5 class="titl">
            Découvrez "Cila Book" : Votre Guichet
          pour l'Investissement et
            l'Entrepreneuriat au Sénégal
          </h5>

        <p class="desc">
          L’entrepreneuriat et l’investissement
          sont les piliers de la croissance
          économique au Sénégal. L'erreur fatale de nos jours est de ne pas entreprendre à côté.
        </p>

        <a class="action" href="#">
         Lire
          <span aria-hidden="true">
            →
          </span>
        </a>
      </div>
    </div>
<!-- ------------------------ -->
  <div class="cardz">
    <div class="image" id="img"><img src="../../../../assets/blog2.jpg" alt=""></div>
    <div class="content">
      <h5 class="titl">
        Les Avantages Incontestables de
        "Cila Book" pour les Investisseurs et
        les Porteurs de Projet au Sénégal
      </h5>

      <p class="desc">
        L’entrepreneuriat et l’investissement
        sont les piliers de la croissance
        économique au Sénégal.
      </p>

      <a class="action" href="#">
        Lire
        <span aria-hidden="true">
          →
        </span>
      </a>
    </div>
  </div>
  <!-- --------------------------- -->
  <div class="cardz">
    <div class="image"><img src="../../../../assets/blog3.jpg" alt=""></div>
    <div class="content">
      <h5 class="titl">
        Réseaux : une femme avec son téléphone sur les réseaux.
        Le Pouvoir des Réseaux : Comment les Relations Influencent le Succès Entrepreneurial​
      </h5>

      <p class="desc">
        L’entrepreneuriat est un voyage solitaire, mais la réussite ne dépend pas seulement de vos compétences et de votre
        détermination.
      </p>

      <a class="action" href="#">
        Lire
        <span aria-hidden="true">
          →
        </span>
      </a>
    </div>
  </div>
  </div>
</section>

<section class="apropos">
  <br>
    <div class="titre1">
      <i class="fa-solid fa-diamond"></i>
    </div>
    <div>

    </div>
    <div class="titre2">
      <h3>Qui sommes-nous ?</h3>
    </div>


  <div class="blocApropos">
    <div class="bloc1">
      <img src="../../../../assets/about.jpg" alt="">
    </div>

    <div class="bloc2">
      <p>
        Passionné par l’entrepreneuriat et
        l’innovation ? Découvrez Cila Book,
        la plateforme qui connecte les porteurs de projet avec les bailleurs defonds dans le but de favoriser l’investissement responsable et de soutenir l’entrepreneuriat à impact
      </p>
        <p>
          Cilabook vise à devenir la principale destination en ligne où les créateurs, les entrepreneurs, les innovateurs sociaux
          et les investisseurs se rencontrent, collaborent et investissent pour transformer les idées en réalit
        </p>
        <div class="btnn">
          <button>Voir Plus</button>
        </div>
    </div>
  </div>
</section>
 <br><br>
 <br><br>
<app-footer></app-footer>
