<app-header></app-header>
<!-- banniere -->
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../../assets/b1.jpg" class="d-block w-100" alt="">
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/b2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/b3.jpg" class="d-block w-100" alt="...">
    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



<!----------------------- Fin Section Second Menu-------------------- -->

<!--------------- Fin Section Container Menu ----------------->
<!------------- Debut Section de votre Contenu------------- -->
<div class="Container_Content">

  <div class="Container_Content_Section2">
    <div class="titre1">
      <i class="fa-solid fa-diamond"></i>
    </div>
    <div>

    </div>
    <div class="titre2">
      <h3>Projets</h3>
    </div>
    <p>Prés de 367 projets publiés dans notre platforme.&nbsp;&nbsp;<a class="plus" href="#"><i>tout voir</i></a> </p>
    <br><br>

    <div class="Container_Section_Cards">

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../../../assets/projet1.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Kay entreprendre</h5>
          <div class="decouvrir">
            <span><a href="">Détails</a>&nbsp;<i class="fa-solid fa-arrow-right"></i></span>

          </div>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../../../assets/projet2.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Sama santé</h5>
          <div class="decouvrir">
            <span><a href="">Détails</a> &nbsp;<i class="fa-solid fa-arrow-right"></i></span>
          </div>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../../../assets/pxpx.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Guindiko</h5>
          <div class="decouvrir">
            <span><a href="">Détails</a>&nbsp;<i class="fa-solid fa-arrow-right"></i></span>
          </div>
        </div>
      </div>

    </div>



    <section class="apropos">
      <br><br>
      <div class="titre1">
        <i class="fa-solid fa-diamond"></i>
      </div>
      <div>

      </div>
      <div class="titre2">
        <h3>Qui sommes-nous ?</h3>

      </div>
      <p>Tout savoir sur nous </p>


      <div class="blocApropos">
        <div class="bloc1">
          <img src="../../../../assets/about.jpg" alt="">
        </div>

        <div class="bloc2">
          <p>
            Passionné par l’entrepreneuriat et
            l’innovation ? Découvrez Cila Book,
            la plateforme qui connecte les porteurs de projet avec les bailleurs defonds dans le but de favoriser
            l’investissement responsable et de soutenir l’entrepreneuriat à impact
          </p>
          <p>
            Cilabook vise à devenir la principale destination en ligne où les créateurs, les entrepreneurs, les
            innovateurs sociaux
            et les investisseurs se rencontrent, collaborent et investissent pour transformer les idées en réalit
          </p>
          <div class="btnn">
            <button>Voir Plus</button>
          </div>
        </div>
      </div>
    </section>

    <section class="xxx">
      <div class="titre1">
        <i class="fa-solid fa-diamond"></i>
      </div>

      <div>

      </div>
      <div class="titre2">
        <h3>Articles blogs</h3>
      </div>
      <p>Profiter de ces informations cruciales pour s'améliorer.&nbsp;&nbsp;<a class="plus" href="#"><i>tout voir</i></a></p>
      <br><br>
      <br><br>
      <div class="Container_Content_Section3_Cards">
        <div style="width: 20rem;" class="FeatureProduct_card card" data-item="graphic">
          <img class="card-img-top" src="../../../../assets/blog1.jpg" alt="Card image cap">
          <div class="card-body">
            <h6 class="card-title">Découvrez "Cila Book" : Votre Guichet Unique pour l’Investissement...</h6>
            <p>L’entrepreneuriat et l’investissement
              sont les piliers de la croissance
              économique au Sénégal.</p>


            <div class="decouvrir">
              <span><a href="">Lire</a>&nbsp;<i class="fa-solid fa-arrow-right"></i></span>
            </div>
          </div>
        </div>



        <div style="width: 20rem;" class="FeatureProduct_card card" data-item="web">
          <img class="card-img-top" src="../../../../assets/blog2.jpg" alt="Card image cap">
          <div class="card-body">
            <h6 class="card-title">Les Avantages Incontestables de
              "Cila Book"...</h6>
            <p>L’entrepreneuriat et l’investissement
              sont les piliers de la croissance
              économique au Sénégal.</p>

            <div class="decouvrir">
              <span><a href="">Lire</a>&nbsp;<i class="fa-solid fa-arrow-right"></i></span>
            </div>
          </div>
        </div>



        <div style="width: 20rem;" class="FeatureProduct_card card" data-item="mobile">
          <img class="card-img-top" src="../../../../assets/blog3.jpg" alt="Card image cap">
          <div class="card-body">
            <h6 class="card-title">Réseaux : une femme avec son téléphone sur les...</h6>
              <p>L’entrepreneuriat et l’investissement
                sont les piliers de la croissance
                économique au Sénégal.</p>


              <div class="decouvrir">
                <span><a href="">Lire</a>&nbsp;<i class="fa-solid fa-arrow-right"></i></span>
              </div>
          </div>
        </div>



      </div>
    </section>


    <section class="cmt-ca-marche">
      <br><br>
      <div class="titre1">
        <i class="fa-solid fa-diamond"></i>
      </div>

      <div>

      </div>
      <div class="titre2">
        <h3>Comment cela marche?</h3>
      </div>
      <p>Laisser nous vous guider de création de compte jusqu'à publication </p>
      <br><br>
      <div class="tab">
        <div>
          <img src="../../../../assets/mmm.jpg" alt="">
        </div>
        <div>
          <img src="../../../../assets/ppp.jpg" alt="">
        </div>

      </div>
      <br><br>
    </section>




    <div class="Container_Content_Section1">
      <div class="titre1">
        <i class="fa-solid fa-diamond"></i>
      </div>

      <div>

      </div>
      <div class="titre2">
        <h3>Ils nous soutiennent</h3>
      </div>
      <p>Beaucoup d'entreprises nous soutiennet sur notre mission d'aide pour les jeunes</p>

      <div class="Content_Section1_img">
        <img src="../../../../assets/q1.png" alt="">
        <img src="../../../../assets/q2.png" alt="">
        <img src="../../../../assets/q3.png" alt="">
        <img src="../../../../assets/q4.jpeg" alt="">
        <img src="../../../../assets/q5.jpeg" alt="">
        <img src="../../../../assets/q6q.png" alt="">

      </div>
    </div>

  </div>




 <br><br>
 <br><br>
<app-footer></app-footer>
