<app-header></app-header>
<div id="page-projet">
    <div class="details container">
        <section class="profil-banner  row d-flex" id="profil-banner">
            <div class="col-8">
                <div class="profil-banner-left d-flex m-3">
                    <div class="left-img">
                        <div class="middle-cirle">
                            <div class="last-circle">
                                <img src="https://media.gettyimages.com/id/1371301907/fr/photo/jeune-homme-sympathique-portant-une-chemise-en-jean.jpg?s=612x612&w=0&k=20&c=sL711u097GPHauXnVdkiprYJ3Pgiy_MABJKnS_Nrz6o="
                                    alt="" class="">
                            </div>
                        </div>
                    </div>
                    <div class="desc">
                        <h2>
                            Andre Demba Ndione
                        </h2>
                        <p>
                            Porteur de projet
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="profil-banner-right">
                    <img src="assets/images/icon-profil.png" alt="">
                </div>
            </div>
        </section>

        <div class="line-blue container-fluid">

        </div>

        <section class="box-details">
            <div class="container">
                <div class="title-box row mt-5">
                    <div class="col-7">
                        <h6 class="ms-3">DETAILS DU PROJET</h6>
                    </div>
                    <div class="col-5 d-flex" style="justify-content: space-between; align-items: center;">
                        <h6>SES AUTRES PROJETS</h6> <input type="text" name="" id="" placeholder="Rechercher"
                            class="p-1">
                    </div>
                </div>
                <div class="row mt-0">
                    <div class="col-7 p-2">
                        <div class="content-pro-left content-pro">
                            <div class="row">
                                <div class="col-7">
                                    <div class="component-all">
                                        <div class="component-title-desc">
                                            <h6>TITRE</h6>
                                            <span class="underline"></span>
                                            <p>CILAA BOOK</p>
                                        </div>
                                        <div class="component-title-desc">
                                            <h6>DATE</h6>
                                            <span class="underline"></span>
                                            <p>20/12/2023</p>
                                        </div>
                                        <div class="component-title-desc">
                                            <h6>DESCRIPTION</h6>
                                            <span class="underline"></span>
                                            <p>Cilabook est née de la vision d’un groupe de passionnés convaincus que
                                                chaque
                                                idée mérite une chance de se développer,
                                                et que chaque entrepreneur ou porteur de projet mérite l’opportunité de
                                                voir
                                                son rêve se concrétiser.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="component-all">
                                        <div class="img-projet">
                                            <img src="https://media.gettyimages.com/id/549809269/fr/photo/portrait-of-men-and-woman-with-pen-and-paper.jpg?s=612x612&w=0&k=20&c=61XOM8xG3YWsEDj7i6MpZPuu5R0qBaL8VTOmkdgJW9o="
                                                alt="">
                                        </div>
                                        <div class="component-title-desc">
                                            <h6>DOMAINE D'ACTIVITE</h6>
                                            <span class="underline"></span>
                                            <p>Entreprenariat</p>
                                        </div>
                                    </div>
                                    <!-- Button trigger modal -->
                                    <div class="component-btn">
                                        <button type="button" class="btn-all btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Contacter</button>
                                    </div>
                                    
                                    <!-- Modal -->
                                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                        aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Contactez nous via medias</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="media-sociaux">
                                                        <a href="https://wa.me/+221761260966" target="_blank"><i class="fa-brands fa-square-whatsapp"></i></a>
                                                        <a href=""><i class="fa-solid fa-envelope"></i></a>
                                                        <a href=""><i class="fa-brands fa-square-x-twitter"></i></a>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 p-2">
                        <div class="content-pro content-pro-right">
                            <div class="row">
                                <div class="col-6">
                                    <div class="box-projet">
                                        <div class="b-p-top">
                                            <h6 class="typo">Guerté</h6>
                                            <i class="fa-solid fa-eye"></i>
                                        </div>
                                        <p>Domaine agricole</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="box-projet">
                                        <div class="b-p-top">
                                            <h6 class="typo">Guerté Gui</h6>
                                            <i class="fa-solid fa-eye"></i>
                                        </div>
                                        <p>Domaine agricole</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="box-projet">
                                        <div class="b-p-top">
                                            <h6 class="typo">Guerté Gui</h6>
                                            <i class="fa-solid fa-eye"></i>
                                        </div>
                                        <p>Domaine agricole</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="box-projet">
                                        <div class="b-p-top">
                                            <h6 class="typo">Guerté Gui</h6>
                                            <i class="fa-solid fa-eye"></i>
                                        </div>
                                        <p>Domaine agricole</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="box-projet">
                                        <div class="b-p-top">
                                            <h6 class="typo">Guerté Gui</h6>
                                            <i class="fa-solid fa-eye"></i>
                                        </div>
                                        <p>Domaine agricole</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="box-projet">
                                        <div class="b-p-top">
                                            <h6 class="typo">Guerté Gui</h6>
                                            <i class="fa-solid fa-eye"></i>
                                        </div>
                                        <p>Domaine agricole</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <app-footer></app-footer>
</div>