<div class="container-fluid p-0 justify-content-between align-content-center ">
     <div class="imgbaniére">
            <!-- <img src="https://img.freepik.com/photos-premium/merci-m-avoir-rejoint-aujourd-hui-photo-groupe-collegues-lors-reunion-affaires_590464-31410.jpg?size=626&ext=jpg&ga=GA1.1.1069740416.1690285243&semt=ais" alt="" style="width: 100%"> -->
    </div><br>
    <h2 class="soustitre">A-PROPOS</h2><br><br>
    <div class="divcont2">
        <div class="divgauche me-5">
            <h2>Déscription</h2><br>
            <p>Cilabook est née de la vision d’un groupe de passionnés <br>convaincus que chaque idée mérite une chance de se <br> développer, et que chaque entrepreneur ou porteur de projet<br> mérite l’opportunité de voir son rêve se concrétiser.Cila Book<br> est une plateforme innovante qui met en relation les<br> investisseurs et les porteurs de projet dans le but de favoriser<br> l’investissement responsable et de soutenir l’entrepreneuriat à<br> impact cilaa bokk  .  </p>

        </div>
        <div class="divdroite">
            <img src="https://img.freepik.com/photos-gratuite/etudiants-qui-etudient-ensemble-coup-moyen_23-2148913227.jpg?size=626&ext=jpg&ga=GA1.1.1069740416.1690285243&semt=ais" alt="">

        </div>
    </div><br><br><br>
    <div class=" divcont3">
        <div class="div divgauche2">
            <h2 class="lessoustitres">OBJECTIF</h2>
            <h6 class="lesptitesdescriptions">
                Notre principal objectif est de faciliter la réalisation de <br><br> projets exceptionnels en connectant 
                les rêves aux <br><br>ressources, en offrant une plateforme conviviale et efficace <br><br>pour les porteurs de projets et les investisseurs.Cilabook<br> <br>vise à devenir la principale destination en ligne où les<br><br>créateurs, les entrepreneurs, les innovateurs sociaux et les<br> <br>investisseurs se rencontrent, collaborent et investissent<br><br> pour transformer les idées en réalité.
            </h6>

        </div>
        <div class="div divdroite2">
            <h2 class="lessoustitres">MISSION</h2>
            <h6 class="lesptitesdescriptions">
                Notre mission est claire : catalyser l’innovation en rendant <br><br> plus accessible que jamais le financement des projets. Nous<br><br> sommes déterminés à créer un écosystème dynamique où<br><br> les innovateurs, les créateurs et les investisseurs se <br><br>rencontrent, collaborent et investissent dans un avenir<br><br> meilleur. Nous croyons en la force des idées et en la<br><br> puissance de la collaboration pour changer le monde.

            </h6>
            

        </div>

        <div class="div div3">
            <h2 class="lessoustitres">CIBLE</h2>
            <h6 class="lesptitesdescriptions">
                Cilabook rassemble deux groupes principaux d’utilisateurs : <br> <br>les porteurs de projets et les bailleurs de fonds. Les<br><br> porteurs de projets englobent les entrepreneurs, les <br> <br>
                 startups et les initiatives à impact social ou <br><br>environnemental en quête de financements pour<br><br> concrétiser leurs idées. Les bailleurs de fonds englobent les<br><br> investisseurs providentiels, les fonds de capital-risque et les<br><br> institutions financières philanthropiques qui souhaitent<br><br> soutenir ces projets
            </h6>

        </div><br>
        



    </div><br>
    <h2 class="soustitre">Ce que nous proposons</h2><br>
    <p class="perspectives">
        <i class="fa-solid fa-circle-check fa-2xl" style="color: #FB8500;"></i> &nbsp;<b>Chez Cilabook, nous mettons à votre disposition une plateforme conviviale et sécurisée qui offre une variété de fonctionnalités essentielles :</b> <br> <br>
    </p>
    <p class="perspectives">
        <i class="fa-solid fa-circle-check fa-2xl" style="color: #FB8500;"></i> <b>&nbsp; Nous facilitons la mise en relation entre porteurs de projets et bailleurs de fonds, vous permettant ainsi de trouver des partenaires adaptés à vos besoins. </b><br> <br>
    </p>

    <p class="perspectives">
        <i class="fa-solid fa-circle-check fa-2xl" style="color: #FB8500;"></i> <b>&nbsp; Que vous soyez un entrepreneur tech, un défenseur de l'environnement ou un pionnier social, vous trouverez un éventail de projets inspirants à soutenir.</b> <br> <br>
    </p>
    
    



  
</div>

