
<app-header></app-header>
<!-- banniere -->
<div class="banner">
  <img src="../../../../assets/apropos.jpg" alt="">
</div>
  <!-- l'icone diamond -->
  <section class="qui-sommes-nous">
    <div class="title-icon">
      <div class="diamond">
        <span><i class="fa-solid fa-diamond" style="color: #fb8500;"></i></span>
      </div>

      <!-- titre qui sommes-nous -->
      <div class="mon-titre">
        <p>
          Qui sommes-nous
        </p>

      </div>
      <div class="loader"></div>
    </div>


    <!-- les deux blocs de textes de qui sommes-nous -->
    <div class="two-bloc-txt">
      <div class="bloc-txt1">
        <p>
        Notre principal objectif est de faciliter la réalisation de projets exceptionnels en connectant les rêves aux
        ressources, en offrant une plateforme conviviale et efficace pour les porteurs de projets et les investisseurs.
        Cilabook vise à devenir la principale destination en ligne où les créateurs, les entrepreneurs, les innovateurs sociaux
        et les investisseurs se rencontrent.
        </p>
      </div>

      <div class="bloc-txt2">
        <p>
          Notre mission est claire : catalyser l’innovation en rendant plus accessible que jamais le financement des projets. Nous
          sommes déterminés à créer un écosystème dynamique où les innovateurs, les créateurs et les investisseurs se rencontrent,
          collaborent et investissent dans un avenir meilleur. Nous croyons en la force des idées et en la puissance de la collaboration pour changer le monde
        </p>
      </div>
    </div>

    <!-- les chiffres -->
    <div class="my-rates">
      <div class="first">
        <p class="jaune">
          19k+
        </p>
        <p class="txt-between">D'abonnement sur notre <br>
          chaîne youtube</p>
      </div>

      <div class="second">
        <p class="jaune">
          3+
        </p>
        <p class="txt-between">followers qui nous suivent<br>sur les réseaux</p>
      </div>

      <div class="third">
        <p class="jaune">
          12+
        </p>
        <p class="txt-between">Partenaires qui nous <br>
          soutiennent à aider les jeunes</p>
      </div>
    </div>

  </section>

  <!------------ section image -------------------->
  <section class="my-image">

    <div class="title-icon">
      <div class="diamond">
        <span><i class="fa-solid fa-diamond" style="color: #fb8500;"></i></span>
      </div>
    <div class="presentation">
      <div class="mon-titre">
        <p>
          Presentation
        </p>

      </div>
      <div class="loader"></div>
      </div>
    </div>
    <div class="my-image-between">
      <img src="../../../../assets/team.jpg" alt="">
    </div>
    <p class="presss">
    <i class='bx bx-label'></i> Cilabook est née de la vision d’un groupe de passionnés convaincus que chaque idée mérite une chance de se développer,
      et que chaque entrepreneur ou porteur de projet mérite l’opportunité de voir son rêve se concrétiser.
      Cila Book est une plateforme innovante qui met en relation les investisseurs et les porteurs de projet dans le but de
      favoriser l’investissement responsable et de soutenir l’entrepreneuriat à impact
    </p>


    <br><br>

  </section>

  <!-- section nos soutiens -->
  <section class="soutiens">
    <div class="title-icon">
      <div class="diamond">
        <span><i class="fa-solid fa-diamond" style="color: #fb8500;"></i></span>
      </div>
      <!-- titre nos soutiens -->
      <div class="mon-titre">
        <p>
          Nos soutiens
        </p>

      </div>
      <div class="loader"></div>

      <!-- slider d'image -->
      <div class="mon-slider">
        <div class="slider-img">

          <!-------------------- slider d'image ------------------------>
          <div class="slide">
            <img src="../../../../assets/simplon.png" />
          </div>

          <div class="slide">
            <img src="../../../../assets/auchan.png" />
          </div>

          <div class="slide">
            <img src="../../../../assets/aviva.png" />
          </div>

          <div class="slide">
            <img src="../../../../assets/patisen.png" />
          </div>
          <div class="slide">
            <img src="../../../../assets/samane.png" />
          </div>

          <div class="slide">
            <img src="../../../../assets/sonatel.png" />
          </div>

          <div class="slide">
            <img src="../../../../assets/simplon.png" />
          </div>

          <div class="slide">
            <img src="../../../../assets/auchan.png" />
          </div>
          <div class="slide">
            <img src="../../../../assets/patisen.png" />
          </div>
          <div class="slide">
            <img src="../../../../assets/auchan.png" />
          </div>

          <div class="slide">
            <img src="../../../../assets/simplon.png" />
          </div>

          <div class="slide">
            <img src="../../../../assets/auchan.png" />
          </div>

          <div class="slide">
            <img src="../../../../assets/aviva.png" />
          </div>

          <div class="slide">
            <img src="../../../../assets/patisen.png" />
          </div>
          <div class="slide">
            <img src="../../../../assets/samane.png" />
          </div>

          <div class="slide">
            <img src="../../../../assets/sonatel.png" />
          </div>

          <div class="slide">
            <img src="../../../../assets/simplon.png" />
          </div>

          <div class="slide">
            <img src="../../../../assets/auchan.png" />
          </div>
          <div class="slide">
            <img src="../../../../assets/patisen.png" />
          </div>

          <div class="slide">
            <img src="../../../../assets/simplon.png" />
          </div>
        </div>
      </div>
    </div>
    </section>

    <br><br>
    <app-footer></app-footer>
