<div class="login container-fluid">
    <div class="image-background">
        <img src="assets/images/login-1.jpg" alt="">
    </div>
    <div class="login-box">
    </div>
    <div class="wrapper">
        <form class="form-signin">
            <h2 class="form-signin-heading text-center">Connexion</h2>
            <input type="text" class="form-control" name="username" placeholder="Adresse Email" required="" autofocus="" />
            <input type="password" class="form-control" name="password" placeholder="Mot de passe" required="" />
            <label class="checkbox">
                <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Se souvenir de moi
            </label>
            <button class="btn-login btn btn-lg btn-primary btn-block w-100" type="submit">Login</button>
            <p>Vous n'avez pas de compte ? <span class="no-account">S'inscrire</span></p>
        </form>
    </div>  
</div>
<!-- <div class="wrapper">
    <div class="inner">
        <img src="assets/images/login-1.jpg" alt="" class="image-1">
        <form action="">
            <h3>Login</h3>
            <div class="form-holder">
                <span class="lnr lnr-user"></span>
                <input type="text" class="form-control" placeholder="Email">
            </div>
            <div class="form-holder">
                <span class="lnr lnr-phone-handset"></span>
                <input type="text" class="form-control" placeholder="Phone Number">
            </div>
            <div class="form-holder">
                <span class="lnr lnr-lock"></span>
                <input type="password" class="form-control" placeholder="Mot de passe">
            </div>
            <button>
                <span>Register</span>
            </button>
        </form>
        <img src="images/image-2.png" alt="" class="image-2">
    </div>

</div> -->