<div id="page-projet" >
    <div >
        <section class="projet-slider container">
            <div class="p-s-row row">
                <div class="img-slide col-4 ">
                    <img src="assets/images/welcome.png" alt="">
                </div>
                <div class="global-des-porteur col-6">
                    <div class="desc-porteur-projet ">
                        <h1>Ce propose les porteurs de projet</h1>
                        <p>Trouver dans cette page tous les projet que proposent les jeunes porteurs de projet recherchant des
                            bailleurs pour leurs
                            financés</p>
                    </div>
                </div>
                <div class="icon-left col-2 ">
                    <img src="assets/images/icon-1.png" alt="">
                </div>
            </div>
        </section>
        <div id="projet" style="margin: 30px 0;">
            <div class="container">
                <div class="projet-head row">
                    <div class="col-6">
                        <div class="p-h p-h-left">
                            <h4 class="blue-color">Lancez-vous dans le financement</h4>
                            <div class="souligne">
                                <span class="s-1"></span>
                                <span class="s-2"></span>
                            </div>
                            <p class="p-h-left-para">Chaque contribution, qu'elle soit grande ou petite rapproche un peu plus
                                les porteurs de projet de leurs objectifs.
                                Ensemble, faites la différence et créer un impact significatif.</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="p-h p-h-right">
                            <input type="text" placeholder="Rechercher" class="search-projet">
                        </div>
        
                    </div>
                </div>
                <div class="row">
                    <h4 class="blue-color" style="text-align: center;">Tous les projets</h4>
                    <div class="souligne souligne-projet">
                        <span class="s-1"></span>
                        <span class="s-2"></span>
                    </div>
                </div>
            </div>
        </div>
        <section class="container" style="width: 70%; margin-top: 40px; margin-bottom: 40px;">
            <div class="projet-list row">
                <div class="col-12 col-md-6 col-lg-3" style="padding: 0;">
                    <div class="icon-image">
        
                    </div>
                </div>
                <div class="middle-projet col-12 col-md-6 col-lg-6">
                    <div class="titre-projet">
                        <h4>Cilla Book </h4>
                    </div>
                    <div class="desc-projet my-1">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni consectetur officiis adipisci, harum ea
                        fuga sunt minus autem asperiores aut eos similique.
                    </div>
                    <div class="another-infos d-flex gap-4">
                        <div class="domaine"><i class="fa-solid fa-layer-group"></i> Domaine elevage</div>
                        <div class="date"><i class="fa-solid fa-calendar-days"></i> Publié le 20/11/2023</div>
                    </div>
                </div>
                <div class="content-btn col-12 col-md-12 col-lg-3">
                    <button (click)="showDetail()"><i></i><i class="fa-solid fa-eye"></i> voir+ </button>
                </div>
            </div>
            <div class="projet-list row">
                <div class="col-12 col-md-6 col-lg-3" style="padding: 0;">
                    <div class="icon-image">
        
                    </div>
                </div>
                <div class="middle-projet col-12 col-md-6 col-lg-6">
                    <div class="titre-projet">
                        <h4>Cilla Book </h4>
                    </div>
                    <div class="desc-projet my-1">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni consectetur officiis adipisci, harum ea
                        fuga sunt minus autem asperiores aut eos similique.
                    </div>
                    <div class="another-infos d-flex gap-4">
                        <div class="domaine"><i class="fa-solid fa-layer-group"></i> Domaine elevage</div>
                        <div class="date"><i class="fa-solid fa-calendar-days"></i> Publié le 20/11/2023</div>
                    </div>
                </div>
                <div class="content-btn col-12 col-md-12 col-lg-3">
                    <button (click)="showDetail()"><i></i><i class="fa-solid fa-eye"></i> voir+ </button>
                </div>
            </div>
            <div class="projet-list row">
                <div class="col-12 col-md-6 col-lg-3" style="padding: 0;">
                    <div class="icon-image">
        
                    </div>
                </div>
                <div class="middle-projet col-12 col-md-6 col-lg-6">
                    <div class="titre-projet">
                        <h4>Cilla Book </h4>
                    </div>
                    <div class="desc-projet my-1">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni consectetur officiis adipisci, harum ea
                        fuga sunt minus autem asperiores aut eos similique.
                    </div>
                    <div class="another-infos d-flex gap-4">
                        <div class="domaine"><i class="fa-solid fa-layer-group"></i> Domaine elevage</div>
                        <div class="date"><i class="fa-solid fa-calendar-days"></i> Publié le 20/11/2023</div>
                    </div>
                </div>
                <div class="content-btn col-12 col-md-12 col-lg-3">
                    <button (click)="showDetail()"><i></i><i class="fa-solid fa-eye"></i> voir+ </button>
                </div>
            </div>
            <div class="projet-list row">
                <div class="col-12 col-md-6 col-lg-3" style="padding: 0;">
                    <div class="icon-image">
        
                    </div>
                </div>
                <div class="middle-projet col-12 col-md-6 col-lg-6">
                    <div class="titre-projet">
                        <h4>Cilla Book </h4>
                    </div>
                    <div class="desc-projet my-1">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni consectetur officiis adipisci, harum ea
                        fuga sunt minus autem asperiores aut eos similique.
                    </div>
                    <div class="another-infos d-flex gap-4">
                        <div class="domaine"><i class="fa-solid fa-layer-group"></i> Domaine elevage</div>
                        <div class="date"><i class="fa-solid fa-calendar-days"></i> Publié le 20/11/2023</div>
                    </div>
                </div>
                <div class="content-btn col-12 col-md-12 col-lg-3">
                    <button (click)="showDetail()"><i></i><i class="fa-solid fa-eye"></i> voir+ </button>
                </div>
            </div>
            <div class="projet-list row">
                <div class="col-12 col-md-6 col-lg-3" style="padding: 0;">
                    <div class="icon-image">
        
                    </div>
                </div>
                <div class="middle-projet col-12 col-md-6 col-lg-6">
                    <div class="titre-projet">
                        <h4>Cilla Book </h4>
                    </div>
                    <div class="desc-projet my-1">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni consectetur officiis adipisci, harum ea
                        fuga sunt minus autem asperiores aut eos similique.
                    </div>
                    <div class="another-infos d-flex gap-4">
                        <div class="domaine"><i class="fa-solid fa-layer-group"></i> Domaine elevage</div>
                        <div class="date"><i class="fa-solid fa-calendar-days"></i> Publié le 20/11/2023</div>
                    </div>
                </div>
                <div class="content-btn col-12 col-md-12 col-lg-3">
                    <button (click)="showDetail()"><i></i><i class="fa-solid fa-eye"></i> voir+ </button>
                </div>
            </div>
            <div class="projet-list row">
                <div class="col-12 col-md-6 col-lg-3" style="padding: 0;">
                    <div class="icon-image">
        
                    </div>
                </div>
                <div class="middle-projet col-12 col-md-6 col-lg-6">
                    <div class="titre-projet">
                        <h4>Cilla Book </h4>
                    </div>
                    <div class="desc-projet my-1">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni consectetur officiis adipisci, harum ea
                        fuga sunt minus autem asperiores aut eos similique.
                    </div>
                    <div class="another-infos d-flex gap-4">
                        <div class="domaine"><i class="fa-solid fa-layer-group"></i> Domaine elevage</div>
                        <div class="date"><i class="fa-solid fa-calendar-days"></i> Publié le 20/11/2023</div>
                    </div>
                </div>
                <div class="content-btn col-12 col-md-12 col-lg-3">
                    <button (click)="showDetail()"><i></i><i class="fa-solid fa-eye"></i> voir+ </button>
                </div>
            </div>
            <div class="projet-list row">
                <div class="col-12 col-md-6 col-lg-3" style="padding: 0;">
                    <div class="icon-image">
        
                    </div>
                </div>
                <div class="middle-projet col-12 col-md-6 col-lg-6">
                    <div class="titre-projet">
                        <h4>Cilla Book </h4>
                    </div>
                    <div class="desc-projet my-1">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni consectetur officiis adipisci, harum ea
                        fuga sunt minus autem asperiores aut eos similique.
                    </div>
                    <div class="another-infos d-flex gap-4">
                        <div class="domaine"><i class="fa-solid fa-layer-group"></i> Domaine elevage</div>
                        <div class="date"><i class="fa-solid fa-calendar-days"></i> Publié le 20/11/2023</div>
                    </div>
                </div>
                <div class="content-btn col-12 col-md-12 col-lg-3">
                    <button (click)="showDetail()"><i></i><i class="fa-solid fa-eye"></i> voir+ </button>
                </div>
            </div>
            <div class="projet-list row">
                <div class="col-12 col-md-6 col-lg-3" style="padding: 0;">
                    <div class="icon-image">
        
                    </div>
                </div>
                <div class="middle-projet col-12 col-md-6 col-lg-6">
                    <div class="titre-projet">
                        <h4>Cilla Book </h4>
                    </div>
                    <div class="desc-projet my-1">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni consectetur officiis adipisci, harum ea
                        fuga sunt minus autem asperiores aut eos similique.
                    </div>
                    <div class="another-infos d-flex gap-4">
                        <div class="domaine"><i class="fa-solid fa-layer-group"></i> Domaine elevage</div>
                        <div class="date"><i class="fa-solid fa-calendar-days"></i> Publié le 20/11/2023</div>
                    </div>
                </div>
                <div class="content-btn col-12 col-md-12 col-lg-3">
                    <button (click)="showDetail()"><i></i><i class="fa-solid fa-eye"></i> voir+ </button>
                </div>
            </div>
            <div class="projet-list row">
                <div class="col-12 col-md-6 col-lg-3" style="padding: 0;">
                    <div class="icon-image">
        
                    </div>
                </div>
                <div class="middle-projet col-12 col-md-6 col-lg-6">
                    <div class="titre-projet">
                        <h4>Cilla Book </h4>
                    </div>
                    <div class="desc-projet my-1">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni consectetur officiis adipisci, harum ea
                        fuga sunt minus autem asperiores aut eos similique.
                    </div>
                    <div class="another-infos d-flex gap-4">
                        <div class="domaine"><i class="fa-solid fa-layer-group"></i> Domaine elevage</div>
                        <div class="date"><i class="fa-solid fa-calendar-days"></i> Publié le 20/11/2023</div>
                    </div>
                </div>
                <div class="content-btn col-12 col-md-12 col-lg-3">
                    <button (click)="showDetail()"><i></i><i class="fa-solid fa-eye"></i> voir+ </button>
                </div>
            </div>
            <div class="projet-list row">
                <div class="col-12 col-md-6 col-lg-3" style="padding: 0;">
                    <div class="icon-image">
        
                    </div>
                </div>
                <div class="middle-projet col-12 col-md-6 col-lg-6">
                    <div class="titre-projet">
                        <h4>Cilla Book </h4>
                    </div>
                    <div class="desc-projet my-1">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni consectetur officiis adipisci, harum ea
                        fuga sunt minus autem asperiores aut eos similique.
                    </div>
                    <div class="another-infos d-flex gap-4">
                        <div class="domaine"><i class="fa-solid fa-layer-group"></i> Domaine elevage</div>
                        <div class="date"><i class="fa-solid fa-calendar-days"></i> Publié le 20/11/2023</div>
                    </div>
                </div>
                <div class="content-btn col-12 col-md-12 col-lg-3">
                    <button (click)="showDetail()"><i></i><i class="fa-solid fa-eye"></i> voir+ </button>
                </div>
            </div>
            <div class="pagination row">
                <div class="pagination-box d-flex">
                    <div class="col"><i class="fa-solid fa-chevron-left"></i></div>
                    <div class="col">1</div>
                    <div class="col">2</div>
                    <div class="col">3</div>
                    <div class="col">4</div>
                    <div class="col"><i class="fa-solid fa-chevron-right"></i></div>
                </div>
            </div>
        </section>
    </div>

    <div class="details container" *ngIf="!show">
        <section class="profil-banner  row d-flex" id="profil-banner">
            <div class="col-8">
                <div class="profil-banner-left d-flex m-3">
                    <div class="left-img">
                        <div class="middle-cirle">
                            <div class="last-circle">
                                <img src="https://media.gettyimages.com/id/1371301907/fr/photo/jeune-homme-sympathique-portant-une-chemise-en-jean.jpg?s=612x612&w=0&k=20&c=sL711u097GPHauXnVdkiprYJ3Pgiy_MABJKnS_Nrz6o="
                                    alt="" class="">
                            </div>
                        </div>
                    </div>
                    <div class="desc">
                        <h2>
                            Andre Demba Ndione
                        </h2>
                        <p>
                            Porteur de projet
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="profil-banner-right">
                    <img src="assets/images/icon-profil.png" alt="">
                </div>
            </div>
        </section>
    
        <div class="line-blue container-fluid">
            
        </div>
    
        <section class="box-details">
            <div class="container">
                <div class="title-box row mt-5">
                    <div class="col-7"><h6 class="ms-3">DETAILS DU PROJET</h6></div>
                    <div class="col-5 d-flex" style="justify-content: space-between; align-items: center;"><h6>SES AUTRES PROJETS</h6> <input type="text" name="" id="" placeholder="Rechercher" class="p-1"> </div>
                </div>
                <div class="row mt-0">
                    <div class="col-7 p-2">
                        <div class="content-pro-left content-pro">
                            <div class="row">
                                <div class="col-7">
                                    <div class="component-all">
                                        <div class="component-title-desc">
                                            <h6>TITRE</h6>
                                            <span class="underline"></span>
                                            <p>CILAA BOOK</p>
                                        </div>
                                        <div class="component-title-desc">
                                            <h6>DATE</h6>
                                            <span class="underline"></span>
                                            <p>20/12/2023</p>
                                        </div>
                                        <div class="component-title-desc">
                                            <h6>DESCRIPTION</h6>
                                            <span class="underline"></span>
                                            <p>Cilabook est née de la vision d’un groupe de passionnés convaincus que chaque
                                                idée mérite une chance de se développer,
                                                et que chaque entrepreneur ou porteur de projet mérite l’opportunité de voir
                                                son rêve se concrétiser.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="component-all">
                                        <div class="img-projet">
                                            <img src="https://media.gettyimages.com/id/549809269/fr/photo/portrait-of-men-and-woman-with-pen-and-paper.jpg?s=612x612&w=0&k=20&c=61XOM8xG3YWsEDj7i6MpZPuu5R0qBaL8VTOmkdgJW9o="
                                                alt="">
                                        </div>
                                        <div class="component-title-desc">
                                            <h6>DOMAINE D'ACTIVITE</h6>
                                            <span class="underline"></span>
                                            <p>Entreprenariat</p>
                                        </div>
                                    </div>
                                    <div class="component-btn">
                                        <button type="button" class="btn-all btn btn-primary">Contacter</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 p-2">
                        <div class="content-pro content-pro-right">
                            <div class="row">
                                <div class="col-6">
                                    <div class="box-projet">
                                        <div class="b-p-top">
                                            <h6 class="typo">Guerté Gui</h6>
                                            <i class="fa-solid fa-eye"></i>
                                        </div>
                                        <p>Domaine agricole</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="box-projet">
                                        <div class="b-p-top">
                                            <h6 class="typo">Guerté Gui</h6>
                                            <i class="fa-solid fa-eye"></i>
                                        </div>
                                        <p>Domaine agricole</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="box-projet">
                                        <div class="b-p-top">
                                            <h6 class="typo">Guerté Gui</h6>
                                            <i class="fa-solid fa-eye"></i>
                                        </div>
                                        <p>Domaine agricole</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="box-projet">
                                        <div class="b-p-top">
                                            <h6 class="typo">Guerté Gui</h6>
                                            <i class="fa-solid fa-eye"></i>
                                        </div>
                                        <p>Domaine agricole</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="box-projet">
                                        <div class="b-p-top">
                                            <h6 class="typo">Guerté Gui</h6>
                                            <i class="fa-solid fa-eye"></i>
                                        </div>
                                        <p>Domaine agricole</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="box-projet">
                                        <div class="b-p-top">
                                            <h6 class="typo">Guerté Gui</h6>
                                            <i class="fa-solid fa-eye"></i>
                                        </div>
                                        <p>Domaine agricole</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


