<app-header></app-header>
<div class="banner">
  <img src="../../../../assets/FFFF.jpg" alt="">
</div>

<div class="container">
<div class="container">
  <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
        aria-expanded="true" aria-controls="collapseOne">
      <strong>Comment puis-je publier mon projet sur le site ?</strong>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
         Pour publier votre projet, connectez-vous à votre compte, puis accédez à la section "Publier un projet". Remplissez le
        formulaire en fournissant toutes les informations pertinentes sur votre projet, téléchargez des documents ou des images
        si nécessaire, et cliquez sur le bouton "Publier" pour partager votre projet avec la communauté.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
        aria-expanded="false" aria-controls="collapseTwo">
        <strong>Comment puis-je consulter les projets d'autres utilisateurs en tant que bailleur de fonds potentiel ?</strong>
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      En tant que bailleur de fonds, vous pouvez parcourir les projets disponibles en accédant à la section "Projets" ou en
      utilisant les filtres de recherche. Explorez les différents projets, consultez leurs descriptions, objectifs et les
      informations fournies par les porteurs de projets pour prendre une décision éclairée sur le soutien que vous souhaitez
      apporter.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
        aria-expanded="false" aria-controls="collapseThree">
        <strong>Qui peut voir mon projet une fois publié ?</strong>
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Une fois que vous avez publié votre projet, il devient visible pour les autres utilisateurs du site. Les bailleurs de
        fonds et les membres de la communauté peuvent consulter les détails de votre projet et, le cas échéant, décider de le
        soutenir.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
        aria-expanded="false" aria-controls="collapseThree">
        <strong>Comment puis-je contacter le porteur d'un projet pour obtenir plus d'informations ?</strong>
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      Si vous souhaitez obtenir plus d'informations sur un projet, utilisez la fonction de contact disponible sur la page du
      projet. Vous pourrez ainsi envoyer un message au porteur du projet pour poser des questions supplémentaires ou discuter
      des détails avant de prendre une décision de financement.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
        aria-expanded="false" aria-controls="collapseThree">
        <strong>Comment puis-je retirer mon projet du site après l'avoir publié ?</strong>
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Si vous souhaitez retirer votre projet du site, connectez-vous à votre compte, accédez à la section "Mes Projets", puis
        choisissez l'option de retrait. Suivez les instructions pour retirer votre projet. Notez que cette action est
        irréversible.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
        aria-expanded="false" aria-controls="collapseThree">
        <strong>Y a-t-il des frais associés à la publication de projets ou à la recherche de bailleurs de fonds sur le site ?</strong>
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Actuellement, la publication de projets et la recherche de bailleurs de fonds sur notre site sont gratuites. Nous
        encourageons les utilisateurs à partager leurs projets et à explorer les opportunités de financement sans frais
        supplémentaires.
      </div>
    </div>
  </div>
</div>
</div>
</div>
<br><br>
<br><br>
<br><br>
<app-footer></app-footer>
